* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* Style */
.upp {
    text-transform: uppercase;
}

.hov:hover {
    color: white;
    cursor: pointer;
}

.c-white {
    color: white;
}

/* ASIDE */
aside {
    width: 250px;
    height: calc(100vh - 100px);
    background-color: #040404;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

aside .c-box img {
    height: 40px;
    margin: 20px
}

.c-box {
    color: lightgray;
    display: flex;
    align-items: center;
}

aside .c-box i {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 25px;
    line-height: 1.4;
}

aside .c-box h4 {
    margin: 20px 0;
    margin-left: 26px;
}

.c-box1 {
    display: flex;
    align-items: baseline;
    color: lightgray;
}

.b-plus {
    padding: 7px 11px;
    background-color: lightgray;
    color: black;
    margin-left: 26px;
    margin-right: 10px;
}

.c-box2 {
    color: lightgray;
    margin-left: 26px;
    margin-top: 15px;
    line-height: 1.9;
    overflow-y: auto;
}

.c-box3 {
    display: flex;
    align-items: center;
    color: lightgray;
    font-size: 20px;
    padding-left: 8px;
}

aside .c-box3 i {
    margin-right: 10px;
}

.b-bottom {
    border-bottom: 2px solid lightgray;
    margin: 0 20px;
}

.marg {
    margin: 10px 0;
}

.b-plus:hover {
    background-color: white;
}

/* HEADER */
header {
    width: calc(100% - 250px);
    height: 90px;
    background-color: #090909;
    float: left;
}

.c-button {
    float: right;
}

header .c-button button {
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: #080808;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 27px;
    margin-right: 10px;
    /* transition: all 0.1s; */
}

header .c-button button:hover {
    padding: 12px 35px;
    border-radius: 40px;
}

/* MAIN */
main {
    width: calc(100% - 250px);
    height: calc(100vh - 190px);
    /* background-color:  #18171c; */
    background-image: linear-gradient(to bottom right, #18171c, rgba(77, 77, 82));
    float: left;
    overflow-y: auto;
}

/* C-MAIN-1 */
main .c-main-1 ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

main li a {
    color: lightgray;
    text-decoration: none;
}

main ul li {
    margin: 20px;
}

main .h-p1 h2 {
    margin: 20px 0;
    margin-left: 28px;
}

/* C-MAIN-2-3-4 */
.c-main-2,
.c-main-3,
.c-main-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.c-main-2 img,
.c-main-3 img,
.c-main-4 img {
    height: 180px;
    width: auto;
}

.c-main-2 > div,
.c-main-3 > div,
.c-main-4 > div {
    margin-left: 28px;
}

main .c-img {
    position: relative;
}

main .p-overlay {
    display: none;

}

.c-img:hover .p-overlay {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

main .p-overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
}

.c-main-2 h3,
.c-main-3 h3,
.c-main-4 h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.c-main-2 p {
    color: lightgray;
    margin-left: 28px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
}

.h-p2 h2,
.h-p3 h2 {
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 28px;
}

.h-p2 p,
.h-p3 p {
    color: lightgray;
    margin-bottom: 20px;
    margin-left: 28px;
}

/* PLAYER */
.player {
    height: 100px;
    width: 100%;
    background-color: #282828;
    float: left;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
}

.p-top {
    display: flex;
    flex: 0 0 200px;
    justify-content: flex-start;
    align-items: center;
}

.player .p-top img {
    height: 50px;
    width: auto;
}


.p-center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.p-center-1 {
    display: flex;
    align-items: flex-start;
}


.p-right {
    display: flex;
    flex: 0 0 200px;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERY */
@media all and (max-width: 768px) {
    aside {
        width: 75px;
    }

    aside p, h4, .b-plus {
        display: none;
    }

    aside .c-box img {
        height: 55px;
        margin: 11px
    }

    .b-bottom {
        border: none;
    }

    header {
        width: calc(100% - 75px);
    }

    main {
        width: calc(100% - 75px);
    }
}
